:root {
	--green: hsl(75, 94%, 57%);
  	--white: hsl(0, 0%, 100%);
  	--grey-700: hsl(0, 0%, 20%);
	--grey-800: hsl(0, 0%, 12%);
  	--grey-900: hsl(0, 0%, 8%);
}

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: Inter, sans-serif;
	font-size: 14px;
	text-align: center;
	background-color: var(--grey-900);
	color: var(--white);
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}


.card {
	max-width: 375px;
	background-color: var(--grey-800);
	border-radius: 15px;
	padding: 30px 20px 20px;
}

.card-img {
	width: 100px;
	border-radius: 50%;
	margin-bottom: 25px;
}

.card-title {
	font-size: 1.5rem;
	margin-bottom: 10px;
}

.card-address {
	color: var(--green);
	margin-bottom: 30px;
}

.card-description {
	margin-bottom: 24px;
}

.card-links {
	list-style: none;
}

.card-link {
	display: inline-block;
	text-decoration: none;
	background-color: var(--grey-700);
	cursor: pointer;
	width: 100%;
	color: var(--white);
	padding: 10px;
	border-radius: 8px;
	margin-bottom: 13px;
}

.card-link:hover {
	background-color: var(--green);
	color: var(--grey-800);
}